.buttonenable {
    display: flex;
    align-items: center;
    position: relative;
    background-color: white;
    border-color: rgb(80, 197, 219);
    width: 100%;
    height: 3.75rem;
    display: inline;
    margin-left: 3px;
}

.buttondisable {
  display: flex;
    align-items: center;
    position: relative;
    background-color: white;
    border-color: darkgray;
    width: 100%;
    height: 3.75rem;
    display: inline;
    margin-left: 3px;
}
