.button {
    display: flex;
    align-items: center;
    position: relative;
    border-color: rgb(80, 197, 219);
    background-color: white;
    width: 19rem;
    height: 3.75rem;
    display: inline;
    margin-left: 3px;
   
  }

  .buttonDisable {
    display: flex;
    align-items: center;
    position: relative;
    border-color: rgb(216, 214, 214);
    background-color: white;
    width: 19rem;
    height: 3.75rem;
    display: inline;
    margin-left: 3px;
   
  }

  .arrowdown {
    width: 0; 
    height: 0; 
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    
  }
  
.corner {
  width: 0; 
	height: 0; 
	border-top: 150px solid #ffcc00;
	border-bottom: 150px solid transparent;
	border-right: 150px solid transparent;
}

.corner span {
  position:absolute;
  top: 35px;
  width: 100px;
  left: 5px;
  text-align: center;
  font-size: 16px;
  font-family: arial;
  transform: rotate(-45deg);
  display:block;
}


