
.button {
  background-color: white ;
  border: none;
  color: rgb(135, 178, 235);
  padding: 2px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 2px 2px 2px 2px;
  cursor: pointer;
  border-radius: 16px;
}
.button:hover{
  background-color: rgb(81, 199, 219) ;
  color: white;
}